<div class="container">
  <div class="container-list">

    <mat-grid-list cols="1">

      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image-persona"></div>
            <mat-card-title>Personas</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/personas.svg" alt="logo de un planeta" class="image-card" width="20%">
          <mat-card-content>
            <p style="text-align: center;">
              Listado de personas.
            </p>
          </mat-card-content>
          <mat-card-actions style="text-align: center;">
            <button mat-raised-button color="primary" routerLink="/personas">VER</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>

  </div>

</div>
